<div class="row col-12">

    <div class="col-12 justify-content-center d-xl-none d-block">
        <div class="col-12 mt-4">

            <div class="col-12 mb-4 mt-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="hidden" name="controller" value="video">
                    <input type="hidden" name="action" value="search">
                    <input class="form-control" type="search" name="hashtag" placeholder="{{i18n 'SearchByHashtag' }}">
                </div>
            </div>

        </div>
    </div>


    <div class="col-12 col-xl-9 row m-0justify-content-center">
        <div class="col-12 row  mt-3 justify-content-center m-0">
            <h4 class="m-0 mt-4">{{i18n 'Index' }}</h4>
        </div>

        <div id="videosView"></div>


        <div class="col-12 row justify-content-center align-items-center mt-2">
            <a class="m-2">
                <img class="bt-pag m-2" src="img/anterior.svg" alt="{{i18n 'Previous' }}">
            </a>

            <a class="m-2"> Page </a>

            <a class="m-2">
                <img class="bt-pag m-2" src="img/proximo.svg" alt="{{i18n 'Next' }}">
            </a>
        </div>

    </div>


    <div class="col-3 justify-content-center d-none d-xl-block">
        <div class="row sticky-top">
            <div class="col-12 mb-4 mt-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="hidden" name="controller" value="video">
                    <input type="hidden" name="action" value="search">
                    <input class="form-control" type="search" name="hashtag" placeholder="{{i18n 'SearchByHashtag' }}">
                </div>
            </div>

            <div id="topUsers">Loading...</div>

        </div>
    </div>
</div>
