<div class="col-4 dropup">
    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">{{i18n 'Language'}}</button>
    <ul id="languagechooser" class="dropdown-menu">
        <li><a class="dropdown-item" href="#{{currentPage}}" id="englishlink">{{i18n 'English'}}</a></li>
        <li><a class="dropdown-item" href="#{{currentPage}}" id="spanishlink">{{i18n 'Spanish'}}</a></li>
        <li><a class="dropdown-item" href="#{{currentPage}}" id="galicianlink">{{i18n 'Galician'}}</a></li>
    </ul>
</div>